body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #fff;
}

header {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left: 150px;
    padding-right: 150px;
}

#player {
    width: 640px;
    height: 360px;
    margin-bottom: 20px;
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #9b59b6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 5px;
}

button:hover {
    background-color: #8e44ad;
}

footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #fff;
}
